
<a href ng-click="refreshBooks()">Refresh Book List</a>

<div ng-show="books.loading">Loading books...</div>
<div ng-show="books.loading === false && books.initialized === true && books.data.length === 0">No books found</div>

<br /><br />

<div class="panes">
  <div ng-show="books.data.length > 0" class="books pane">
    <ul ng-repeat="book in books.data">
      <li>
        <a href ng-click="selectBook(book)"><b>{{book.title}}</b></a><br>
        {{book.summary}}
      </li>
    </ul>
  </div>
  <div ng-show="selectedBook !== null" class="pane active-pane">
    <a href ng-click="clearSelectedBook()">Cancel / Close</a>
    <h3>{{selectedBook.title}}</h3>

    <form ng-submit="addToWishlist()">
      <label>Add to Wishlist for User:</label>
      <select ng-options="user.first_name for user in users.data" ng-model="addBook.user"></select>

      <br />

      <input type="submit" value="Add To WishList" />

      <br /><br />

      <a href ng-click="deleteBook(selectedBook.id)">Delete This Book</a>
    </form>
  </div>
</div>