/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.panes:after {
  content: "";
  display: table;
  clear: both;
}

.pane {
  float: left;
  width: 50%;
  margin: 0;
  padding: 0;
}

.users {
  float: left;
  width: 30%;
}

.selected-user {
  float: left;
  width: 50%;
  border: 2px solid #000;
}